.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 16px; /* Adjust padding for better alignment */
  background-color: #fff; /* Background color for better visibility */
  height: 417px; /* Set the height of the navigation bar */
  background: linear-gradient(
    to right, 
    #0E3D68 0%, 
    #0E3D68 20%, 
    #0E3D68 46%, 
    #0E3D68 60%, 
    #0E3D68 84%, 
    #0E3D68 100%
  );
  background-size: 100% 150%; /* Ensures the gradient exceeds the height */
}


.background {
  background: linear-gradient(
    to right, 
    #0E3D68 0%, 
    #0E3D68 20%, 
    #0E3D68 46%, 
    #0E3D68 60%, 
    #0E3D68 84%, 
    #0E3D68 100%
  );
}


.nav-left {
  display: flex;
  align-items: center;
  position: relative;
}

.hamburger {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  color: #17395B;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #444;
  display: flex;
  flex-direction: column;
}

.dropdown a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

.dropdown a:hover {
  background-color: #555;
}

.nav-right {
  display: flex;
  align-items: center;
  white-space: nowrap; /* Prevents line breaks */
  gap: 5px; /* Adds a 5px gap between image and text */
}

.nav-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav-text {
  font-family: Futura LT Pro;
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
  text-align: left;
  color: #17395B;
}

/* Responsive Styles for Larger Screens */
@media (min-width: 361px) {
  .navbar {
    padding: 50px 0;
    justify-content: space-evenly;
  }

  .hamburger {
    display: none; /* Hide hamburger menu on larger screens */
  }

  .nav-left,
  .nav-right {
    display: flex;
    align-items: center;
  }

  .nav-right {
    gap: 10px; /* Increase gap for larger screens */
  }

  .nav-text {
    font-size: 50px;
  }
}

/* Smaller Screens (Below 360px) */
@media (max-width: 360px) {
  .nav-left {
    flex-grow: 1; /* Ensures logo and text take up available space */
  }

  .nav-right {
    flex-grow: 1;
    justify-content: flex-end;
  }

  .hamburger {
    width: 40px;
    height: 40px;
  }

  .nav-image {
    width: 30px;
    height: 30px;
  }

  .nav-text {
    font-size: 18px;
    min-width: 50px;
  }

  .dropdown {
    left: 0;
  }
}

@media (max-width: 768px) {
  .hamburger {
    width: 35px;
    height: 35px;
  }

  .nav-image {
    width: 35px;
    height: 35px;
  }

  .nav-text {
    font-size: 35px;
    min-width: 50px; /* Ensures text doesn't shrink too much */
  }

  .dropdown {
    left: 0;
  }
}

@media (max-width: 576px) {
  .hamburger {
    width: 30px;
    height: 30px;
  }

  .nav-image {
    width: 30px;
    height: 30px;
  }

  .nav-text {
    font-size: 30px;
    min-width: 40px; /* Ensures text doesn't shrink too much */
  }
}
