
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.flip-horizontal {
    transform: rotateY(360deg);
    transition: transform 0.5s ease-in-out;
  }
  

  .bg-radial-gradient {
    background: radial-gradient(circle, #083C57, #2E6A89, #276C8F, #0D5C60, #1F5A41, #366510);
    color: #fff; /* Text color */
  }
  
  .bg-radial-gradient .text-white {
    padding: 5px; /* Padding for text */
  }
  
  /* Enable smooth scrolling for the whole page */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;  /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #6CBF2A; /* Green color for the scrollbar thumb */
  border-radius: 10px;       /* Rounded corners for the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0E3D68; /* Deep blue color when hovered */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey for the scrollbar track */
}

/* Firefox specific scrollbar styling */
body {
  scrollbar-width: thin; /* Makes scrollbar thin */
  scrollbar-color: #6CBF2A #f1f1f1; /* thumb color track color */
}

body:hover {
  scrollbar-color: #0E3D68 #f1f1f1; /* thumb color track color when hovered */
}
